#drag {
    cursor: move;
    background-color: black;
    color: white;
    font-size: 35px;
    position: absolute;
    height: 100px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
